@model IEnumerable<Carros.Models.Carro>

<ol class="breadcrumb">
    <li><a href="#">Inicio</a></li>
    <li><a href="#"></a></li>
</ol>

<div class="corpo preto">
    <div class="conteudo">
        <div class="slide">
            <img class="slideImagem" src="~/Content/img/test.jpg" alt="imagem 1" title="imagem 1">
            <img class="slideImagem" src="~/Content/img/test1.jpg" alt="imagem 2" title="imagem 2">
            <img class="slideImagem" src="~/Content/img/test.jpg" alt="imagem 3" title="imagem 3">
            <img class="slideImagem" src="~/Content/img/test1.jpg" alt="imagem 4" title="imagem 4">
        </div>
    </div>
</div>

<h1>Catálogo de Carros</h1>
<p>
    @Html.ActionLink("Adicionar Veículo", "Adicionar")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cor)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    @Html.HiddenFor(model => item.Id)
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cor)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Alterar", new { id = item.Id }) |

            <a href="javascript:AbrirModalExcluir('@item.Id')">Excluir</a>
            
        </td>
    </tr>
}

</table>

<div class="modal fade" id="modalExcluir" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Atenção</h4>
            </div>
            <div class="modal-body">
                <p>Tem certeza que deseja realizar essa operação?</p>
            </div>
            <div class="modal-footer">
                <button id="btn-excluir" type="button" class="btn btn-default" data-dismiss="modal">Sim</button>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/Estilo.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="https://npmcdn.com/bootstrap@4.0.0-alpha.5/dist/js/bootstrap.min.js"></script>

<script>

    function AbrirModalExcluir(id) {
        $('#modalExcluir').modal("show");
        $('#btn-excluir').click(function () {
            ExcluirCarro(id);
        });
    }

    function ExcluirCarro(id) {
        $.ajax({
            url: '@Url.Action("Excluir", "Carro")',
            type: 'GET',
            data: {
                Id: id
            },
            success: function () {
                window.location.reload();
            }
        });
    };

</script>